@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&family=Righteous&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4e4e4e;
  margin: 3em 5em;
  font-family: "Poppins", sans-serif;
}

.header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 60%;
}

.logo * {
  max-width: 13em;
}

.header .navbar {
  width: 35%;
  display: flex;
}

.navbar .nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-list .nav-item {
  font-size: 1.5em;
  font-weight: 600;
}

.nav-item:nth-child(3) {
  background-color: #fff;
  padding: 0.4em 1em;
  border-radius: 25px;
}

/* Body */

.main-section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 4em 0;
}

.caption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74%;
  text-align: center;
}

.caption p {
  font-size: 5em;
  line-height: 1.1em;
}

.caption p span {
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
}

.btn-holder button {
  text-decoration: none;
  width: 25vw;
  height: 3em;
  font-size: 2em;
  border-radius: 40px;
  border: none;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px rgba(255, 255, 255, 0.3);
  font-family: "Righteous", cursive;
}
.k {
  text-decoration: none;
}

/* Display box */

.display-box {
  width: 70vw;
  height: 45vh;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 38px;
  box-shadow: 10px 10px 54px rgba(113, 201, 233,0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding:2.5em;
  opacity: 0;
}

.mood,.playlist{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}


.mood h1,.playlist h1{
    font-size:1.7em;
    font-weight:bold;
    color: rgb(9, 207, 98);
    margin-bottom: 0.5em;
}
#playlist{
    width: 30%;
    height: 3em;
    border: none;
    background-color:rgb(9, 207, 98);
    border-radius: 20px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

#mood{
    font-size: 1.2em;
}

#playlist i{
    font-size: 2em;
    color: #fff;
}